.page{
  background-color: white;
  border-top: 1px solid var(--text-color);
  position:fixed;
  bottom:0px;
  height: calc(100vh - 16rem); /* height:70vh; */
  width:100%;
  max-height:auto;
  animation: pageUp 1s ease;
  padding-top:6rem;

  overflow-y: scroll;
}


.pagetitle{
  font-family: "MainFont";
  font-size:1.4rem;
  margin-bottom:4rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  word-spacing: 0.35rem;
}


.pageContent{
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  padding-left:10%;
}


.infoPTitle{
  font-family: "MainFont";
  margin-bottom:1.4rem;
  text-align: left;

}
.infoPText{
    text-align: left;
  max-height:0px;
  overflow-y: hidden;
  transition: max-height 1s;
}
.infoPText span{
  display:block;
  margin-bottom:4rem;
  font-family: "MainFont";
  max-width:640px;
  line-height: 1.3rem;
}
.infoPTitle:hover{
  text-decoration:underline;
}


.buttonMain{
  height:1.6rem;
  line-height:1.5rem;
  border-radius: 1.2rem;
  border: 2px solid var(--text-color);
  padding:0.2rem;
  padding-left:0.8rem;
  padding-right:0.8rem;
  background-color: white;
  font-family: "MainFont";
}

.buttonMain:hover{
  background-color: var(--highlight-color);
}
