body{
  height:150vh;
  margin:0px;
  background-color: var(--main-bg-color);
  cursor: none;
}
a{
  text-decoration: none;
  color: var(--text-color);
  cursor: none;
}

::-moz-selection { /* Code for Firefox */
  color: var(--text-color);
  background: var(--highlight-color);
}

::selection {
  color: var(--text-color);
  background: var(--highlight-color);
}

/* --------------------------------------------------------------------------    CURSOR*/
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.cursor {
  pointer-events: none;}
.ball {
  position: fixed;
  top: 0;
  left: 0;
  /*mix-blend-mode: difference; */
  z-index: 1000;
  mix-blend-mode: multiply;
}
.circle {
  fill: #f7f8fa;
  stroke: var(--text-color);

}



#cmd{
  position:fixed;
  opacity:1;
  animation: svgEnter 2s;
}





rect {
  transition: all 0ms ease-in-out; /* 700ms*/
  filter: url(#blur);
  opacity:0.8;
  fill: var(--circle-color);
  mix-blend-mode: multiply;

  transition: width 10s, height 10s, transform 10s ease;
}


.separator{
  position:fixed;
  z-index: 100;
  background-color:  var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#backgroundCanvas{
  position: fixed;
  width:100%;
  height:100%;
  z-index:-10;
  top: 0px;
  left:0px;
}


/* --------------------------------------------------------------------------    TOPBAR*/
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#topbar{
  position:fixed;
  top:0px;
  width:100%;
  color: var(--text-color);
  background-color:  var(--main-bg-color);
  height: 2rem;

  text-align: center;
  font-size: 0.65rem;
  font-family: "MainFont";

  text-transform: uppercase;
  letter-spacing: .1rem;
  word-spacing: 0.35rem;
  z-index:2;

  border-bottom: 1px solid var(--text-color);

  display:none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  transition: opacity 1s;
  animation: topbarDown 1s;
}

.topItem{
  margin-left:0.8rem;
  height:1.2rem;
}
.topItem:hover{
  background-color: var(--highlight-color);
}
#myCanvas{
  z-index:-50;
  position:fixed;
  width:  100%;
  height: 100%;
  top:0px;
  left:0px;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#content{
  transition: opacity 1s;
  opacity:0;
}
.content{
  margin-top:10rem;
  text-align: center;
  display:flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.titleCont{
  display:flex;
  justify-content: center;
  align-items: center;
}
.title{
  color: var(--text-color);
  font-family: "MainFont";

  font-size: 4rem;

  text-align: justify;
  max-width:30rem;
  text-transform: uppercase;
}
.title img{
  position:relative;
  width:100%;
}
.description{
  margin:auto;
  margin-top:4rem;
  max-width: 500px;
  font-family: 'MainFont';
  line-height: 1.3rem;
  display:flex;
}

.desc{
  margin:2rem;
  max-width:560px;
  text-align: left;
}
#cmd{
  position: fixed;
  top:0px;
  z-index: -9;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.number{
  color: var(--text-color);
  font-family: "MainFont";

  text-align: center;
  font-size: 1.2rem;
  border: 2px solid #3C3B44;
  width:1.2rem;
  height: 1.2rem;
  padding:0.2rem;
  border-radius: 1.2rem;
  margin-bottom: 0.6rem;
  position:relative;
  line-height: 1.2rem;
}
.titleNumber{
  color: var(--text-color);
  font-family: "MainFont";

  text-align: center;
  font-size: 1.2rem;
  max-width: 250px;
}

.info{
  margin-top:5rem;
}
.infoCont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.infoS{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.infoS:hover .titleNumber{
  /*font-style: italic; */
  text-decoration: underline;
}

.infoDesc{
  background-color:  var(--main-bg-color);
  color:black;

  width:100%;
  margin-top: 2rem;

  max-height:0px;
  transition: max-height 0.50s ease-in;
  overflow-y: hidden;
  font-family: 'MainFont';
  line-height: 1.3rem;
  border-bottom: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
  box-sizing: border-box;
}

.infoDesc span{
  display:block;
  padding:1.2rem;
}


/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
