main{
  perspective: 2px;
}

body{
  margin:0px;
background-color: #F80F8D;/*linear-gradient(#e6007e , #e6007e); */

  /*cursor: none;

/*  background-image:    url(../assets/sky3.png);
  background-size:     cover; */
}
a{
  text-decoration: none;
  color: var(--text-color);
}

::-moz-selection { /* Code for Firefox */
  color: var(--text-color);
  background: var(--highlight-color);
}

::selection {
  color: var(--text-color);
  background: var(--highlight-color);
}

[v-cloak]{
  display:none;
  animation: itensdown 1s;
}
@keyframes opacityFade {
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
#homeCont{
  animation: opacityFade 2s;
}
.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  /*mix-blend-mode: difference; */
  width: 80px;
  height: 80px; /* 50px*/
  border-radius: 50%;
  background-color: rgba(255,255,0,0.7);
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(.3);
  z-index: 1000;
  border: 4px solid black;
}
.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1);
}

/* ----------------------------------------------------------------------SCROLLBAR*/
/* ----------------------------------------------------------------------SCROLLBAR*/
/* ----------------------------------------------------------------------SCROLLBAR*/
/* ----------------------------------------------------------------------SCROLLBAR*/


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ebebf0;
  opacity:0.6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #59595e; /*var(--text-color); */
  opacity:0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d7d82;
}


/* --------------------------------------------------------------------------    CURSOR*/
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.cursor {
  pointer-events: none;

}
.ball {
  position: fixed;
  top: 0;
  left: 0;
  /*mix-blend-mode: difference; */
  z-index: 1000;
}
.circle {
  stroke: var(--text-color);
}

#cmd{
  height:100%;
  width:100%;
  top:0px;

  position:fixed;
  opacity:0;
  z-index:-1;
  mix-blend-mode: difference;
  padding-top: 2rem;
  transition: opacity 0.5s;
}



.backgroundImg{
  position:fixed;
  width:100%;
  height:100%;;
  z-index:-80;
  top:0px;
  animation: svgEnter 0.5s;

}
#auxBG{
  position:absolute;
  width:100%;
  height:100%;
}
.backgroundImg img{
  position:relative;
  width:100%;
  min-height:100%;
  opacity:1;
  /*filter: invert(1); */
  animation: svgEnter 0.5s;
}


g circle {
  fill:none;
  opacity:1;
  fill: white;
  mix-blend-mode: difference;
  -webkit-transition:  width 3s, height 3s, transform 2s ease;
  -moz-transition:  width 4s, height 4s, transform 2s ease;
  -o-transition:  width 4s, height 10s, transform 2s ease;
  transition:  width 4s, height 4s, transform 2s ease;
}
g{
  opacity:1;
  mix-blend-mode: difference;
  -webkit-transition:  width 4s, height 4s, opacity 2.5s, transform 2s ease;
  -moz-transition:  width 4s, height 4s, opacity 2.5s, transform 2s ease;
  -o-transition:  width 4s, height 4s, opacity 2.5s, transform 2s ease;
  transition:  width 4s, height 4s, opacity 2.5s, transform 2s ease;
}
.floaters{
  -webkit-transition:  width 4s, height 4s, opacity 2.5s, transform 8s ;
  -moz-transition:  width 4s, height 4s, opacity 2.5s, transform 8s ;
  -o-transition:  width 4s, height 4s, opacity 2.5s, transform 8s ;
  transition:  width 4s, height 4s, opacity 2.5s, transform 8s ;
}

.separator{
  position:fixed;
  z-index: 100;
  background-color:  var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#backgroundCanvas{
  position: fixed;
  width:100%;
  height:100%;
  z-index:-10;
  top: 0px;
  left:0px;
}

#myCanvas{
  z-index:-50;
  position:fixed;
  width:  100%;
  height: 100%;
  top:0px;
  left:0px;
}

.languageBox{
  margin-left:1.2rem;
  display: inline-flex;
  flex-direction: row;
  margin-left:2rem;
}
.language{
  margin-left:0.6rem;
}
.language:hover, #institute:hover{
  text-decoration: underline;
  cursor:pointer;
}



/* -------------------------------------------------------------------------- INFO HOMEPAGE */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.jumpTo{
  background-color: var(--main-bg-color);
  position:fixed;
  bottom:0px;
  right:-1px;
  border:1px solid black;
  font-family: "MainFont";
  width:100px;
  padding:1rem;
}
#content{
  transition: opacity 1s;
  opacity:0;
}
.content{
  text-align: center;
  display:flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.titleCont{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s, padding-top 0.8s;
  opacity:1;
}

.tcB{
  padding-top:10rem;
}
.tcS{
  padding-top:5rem;
}

.title, .titletalks{
  color: var(--text-color);
  font-family: "MainFont";
  font-size: 4rem;
  text-align: justify;
  text-transform: uppercase;
  transition: max-width 0.8s;
  z-index: -5;
}

.tB{
  max-width:40rem;
}
.tS{
  max-width:8rem;
}
.title img{
  position:relative;
  width:100%;
  z-index: -5;
  display:none;
  animation: itensdown 1s;
  transition: opacity 1s, margin-top 0.8s;
}
.titletalks img{
  position:relative;
  width:100%;
  z-index: -5;
  animation: itensdown 1s;
  transition: opacity 1s, margin-top 0.8s;
}
.description{
  margin:auto;
  margin-top:4rem;
  max-width: 500px;
  font-family: 'MainFont';
  line-height: 1.3rem;
  display:flex;
}

.desc{
  margin:2rem;
  max-width:580px;
  text-align: left;
  font-size:1.2rem;
  line-height:1.6rem;
  display:block;
  display: flex;
    flex-direction: column;
}


/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.number{
  color: black;
  font-family: "MainFont";
  text-align: center;
  font-size: 2rem;
  border: 2px solid black;
  width:2rem;
  height: 2rem;
  padding:0.2rem;
  border-radius: 2rem;
  margin-bottom: 0.6rem;
  position:relative;
  line-height: 2rem;
  background-color:white;
}
.titleNumber{
  color: black;
  font-family: "MainFont";
  text-align: center;
  font-size: 2rem;
  max-width: 350px;

}
.eventDate{
  background-color:white;
  color: black;
  font-family: "MainFont";
  text-align: center;
  font-size: 2rem;
  border: 2px solid black;
  padding:0.2rem;
  padding-right: 1rem;
  padding-left:  1rem;
  border-radius: 2rem;
  margin-bottom: 0.6rem;
  position:relative;
  line-height: 2rem;
}
.placeHour{
  font-family: "MainFont";
  text-align: center;
  font-size: 1.2rem;
  margin-top:0.2rem;
}
.info{
  margin-top:8rem;
  margin-bottom:4rem;
}
.infoCont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
}
.infoEventCont{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imgEventCont{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.imgEvent{
  margin:auto;
  margin:2rem;
  width:220px ;
  position:relative;
  mix-blend-mode: multiply;
}


.infoS{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor:pointer;
}

.infoS:hover .titleNumber{
  /*font-style: italic; */
  text-decoration: underline;
  cursor:pointer;
}

.infoDesc{
  color:black;
  margin-top: 0.8rem;
  width:100%;
  overflow-y: hidden;
  font-family: 'MainFont';
  line-height: 1.3rem;

  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
  max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.infoDesc.full{
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}
.infoDescBorder{
  background-color:  #66d1de;
  color:black;
  width:100%;
  overflow-y: hidden;
  font-family: 'MainFont';
  line-height: 1.3rem;
  border-bottom: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoDesc span{
  display:block;
  padding:2rem;
}

.knowMore{
  margin-top:-3rem;
  margin-bottom:2.4rem;
  cursor:pointer;
  border: 1px solid black;
  padding: 0.24rem;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 2rem;
  font-size:1.2rem;
  background-color: white;
  text-transform: uppercase;
}
.knowMoreEvent{
  cursor:pointer;
  border: 1px solid black;
  padding: 0.24rem;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 2rem;
  font-size:1.2rem;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
}
.knowMore:hover, .knowMoreEvent:hover{
  background-color: var(--highlight-color);
}


/* --------------------------------------------------------------------------  MEDIA QUERIES */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */



@media (max-width:320px)  {
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .tB{
    max-width:15rem;
  }
  .desc{
    font-size:1rem;
    line-height:1.3rem;
  }
  .infoCont{
    margin-bottom:2rem;
  }
  .number, .eventDate{
    font-size: 1rem;

  }
  .number{
    width:1rem;
    height:1rem;
    line-height: 1rem;
  }
  .titleNumber{
    font-size: 1rem;
  }
  body{
    cursor:none;
  }
}

@media (min-width:320px)  {
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .tB{
    max-width:18rem;
  }

  .desc{
    font-size:1rem;
    line-height:1.3rem;
  }
  .infoCont{
    margin-bottom:2rem;
  }
  .number, .eventDate{
    font-size: 1.2rem;
  }
  .number{
    width:1.2rem;
    height:1.2rem;
    line-height: 1.2rem;
  }
  .titleNumber{
    font-size: 1.2rem;
  }

}
@media screen and(min-width:480px)  {
/* smartphones, Android phones, landscape iPhone */
  .tB{
    max-width:25rem;
  }
  .desc{
    font-size:1rem;
    line-height:1.3rem;
  }
  .infoCont{
    margin-bottom:3rem;
  }
  .number, .eventDate{
    font-size: 1.2rem;

  }
  .number{
    width:1.2rem;
    height:1.2rem;
    line-height: 1.2rem;
  }
  .titleNumber{
    font-size: 1.2rem;
  }

}
@media screen and (min-width:600px)  {/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .tB{
    max-width:30rem;
  }
  .infoCont{
    margin-bottom:4rem;
  }
  .desc{
    font-size:1rem;
    line-height:1.3rem;
  }
  .number, .eventDate{
    font-size: 1.6rem;

  }
  .number{
    width:1.6rem;
    height:1.6rem;
    line-height: 1.6rem;
  }
  .titleNumber{
    font-size: 1.6rem;
  }
}
@media screen and (min-width:801px)  {
  .tB{
    max-width:40rem;
  }
  .infoCont{
    margin-bottom:4rem;
  }
  .desc{
    font-size:1rem;
    line-height:1.3rem;
  }
  .number, .eventDate{
    font-size: 1.8rem;
  }
  .number{
    width:1.8rem;
    height:1.8rem;
    line-height: 1.8rem;
  }
  .titleNumber{
    font-size: 1.8rem;
  }
/* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  .tB{
    max-width:40rem;
  }

  .infoCont{
    margin-bottom:4rem;
  }
  .desc{
    font-size:1rem;
    line-height:1.3rem;
  }
  .number, .eventDate{
    font-size: 2rem;
  }
  .number{
    width:2rem;
    height:2rem;
    line-height: 2rem;
  }
  .titleNumber{
    font-size: 2rem;
  }
}
@media screen and (min-width:1281px) {
  .tB{
    max-width:40rem;
  }
  .desc{
    font-size:1rem;
    line-height:1.3rem;
  }
  .number, .eventDate{
    font-size: 2rem;
  }
  .number{
    width:2rem;
    height:2rem;
    line-height: 2rem;
  }
  .titleNumber{
    font-size: 2rem;

  }

  @media screen and (min-width:1581px) {
    .tB{
      max-width:50rem;
    }
    .desc{
      font-size:1.2rem;
      line-height:1.6rem;
    }
    .number, .eventDate{
      font-size: 2rem;
    }
    .number{
      width:2rem;
      height:2rem;
      line-height: 2rem;
    }
    .titleNumber{
      font-size: 2rem;

    }
 /* hi-res laptops and desktops */
 }
