
@font-face {
  font-family: 'MainFont';
  src: url('../assets/fonts/Tactic/Tactic-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MainFont';
  src: url('../assets/fonts/Tactic/Tactic-Regular.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('../assets/fonts/Tactic/Tactic-Regular.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'MainFont';
  src: url('../assets/fonts/Tactic/Tactic-Regular.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('../assets/fonts/Tactic/Tactic-Regular.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.auto            {  }

:root {
  --main-bg-color: #65C1CC;/*#F6F6F0;*/
  --text-color: black;
  --circle-color:  #65C1CC;/*#86C8CD; */
  --highlight-color: #FFF1A8;

}
